<ion-view view-title="Nos mentors et partenaires">
  <ion-content>

  	 	<h1 class="mentors">Nos mentors</h1>

      <div class="textmentors"> 

    	Nos mentors sont des professionnels et des entrepreneurs du numérique. Ils interviennent à l'école à l'occasion d'ateliers. Leur rôle est de faire découvrir aux élèves leur métier et de les guider dans l'acquisition des bonnes pratiques.<br><br>
    </div>


    <div class="textpartenaires">
    	<h1 class="partenaires">Nos partenaires</h1>

    	Nos partenaires sont aussi à nos côtés pour nous soutenir et nous aider. Qu'il s'agisse des membres du commité de pilotage qui supervise l'évolution stratégique de l'école et l'accompagne dans la réalisation de sa mission sociale, ou de nos partenaires toujours qui répondent toujours présent pour la réalisation de nos projets.<br><br>  

  		La Wild Code School s'engage aussi auprès de la French Tech Eurelienne et du Pays Perche afin de promouvoir le numérique.
    </div>
  </ion-content>
</ion-view>