<ion-view view-title="Nos actions">
  <ion-content>  	
   <h1 class="formation">La Formation</h1>	
	<div class="textaction">

    La révolution numérique est en marche, savoir développer est devenu un véritable sésame, la clé indispensable qui ouvre les portes du monde du travail.<br><br>    

    Le défi de cette formation est de transformer en 5 mois des débutants en codeurs capables de réaliser des sites et des applications web. 4 principes pédagogiques sont mis en oeuvre à cette fin : <br><br>

    	* Apprendre à apprendre : l'évolution numérique est si rapide qu'il faut être acteur de ses connaissances et acquérir de nouvelles compétences en permanence.<br>
    	* Apprendre par la pratique : la pratique et la réalisation de projets réels sont les axes principaux de la formation.<br>
    	* Apprendre ensemble : l'apprentissage se fait le plus souvent en bînomes ou en petits groupes de deux à quatre personnes.<br>
    	* Se donner à 100% : la formation est très intensive, la présence journalière des participants est une des conditions et la forte motivation en est une autre.
    </div><br><br>
        
    <h1 class="ecole">Le Code à l'Ecole</h1>
	<div class="textecole">
	
    Grâce à tous les acteurs qui nous soutiennent, l'école peut former les développeurs de demain, que ce soit à La Loupe, pendant les 5 mois de formation intensive, mais aussi lors des interventions dans les écoles avec les enfants.
	</div>
  </ion-content>
</ion-view>
