<ion-view view-title="Wild Code School">
<div id="wild">
  <ion-content>
  	<h1 class="presen">Wildsphère</h1>
 
  <div class="presentation">
  	

  	<p id="citation">"Program or be programmed..." Douglas Rushkoff, écrivain et critique américain.</p><br><br>

  	La Wild Code School c'est : <br><br>

  	Apprendre le code et la programmation<br><br>
  	Concevoir des projets concrets<br><br>
  	Appartenir à une communauté<br><br>
  	Vivre en convivialité au vert!<br><br><br>

  	<p id="suivi">Pour nous suivre, rien de plus simple :</p><br><br>

  	<a href="https://www.facebook.com/wildcodeschool">Notre page Facebook</a><br><br>
  	<a href="https://twitter.com/wildcodeschool">Notre twitter</a>
  

  

  
</div>
</ion-content>
</div>
</ion-view>

